group Build
  source https://nuget.org/api/v2
  storage none
  framework: >= netstandard2.1,netcoreapp3.1
  nuget FSharp.Core

group Test
  source https://nuget.org/api/v2
  storage none
  framework: >= netstandard2.1,netcoreapp3.1
  
  nuget FSharp.Core
  nuget NUnit ~> 3
  nuget NUnit.ConsoleRunner ~> 3
  nuget Microsoft.NET.Test.Sdk
  nuget NUnit3TestAdapter