type project
owners
    Amyris
authors 
    Amyris
projectUrl
    http://github.com/Amyris/Amyris.Bio
iconUrl
    https://raw.githubusercontent.com/Amyris/Amyris.Bio/master/docs/files/img/amyris_logo.png
licenseUrl
    http://github.com/Amyris/Amyris.Bio/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2016
tags
    CompBio F# yeast synbio
summary
    Amyris F# Bio
description
    Amyris FSharp Computational biology library
